USE [ZEOSAV]
GO
/****** Object:  User [zeosuser]    Script Date: 01/05/2025 09:43:36 ******/
CREATE USER [zeosuser] FOR LOGIN [zeosuser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [zeosuser]
GO
/****** Object:  Table [dbo].[DETAIL]    Script Date: 01/05/2025 09:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MASTERID] [int] NOT NULL,
	[DESCRIPTION] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER]    Script Date: 01/05/2025 09:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [nchar](10) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DETAIL] ON 

INSERT [dbo].[DETAIL] ([ID], [MASTERID], [DESCRIPTION]) VALUES (1, 1, N'DETAIL1_M1')
INSERT [dbo].[DETAIL] ([ID], [MASTERID], [DESCRIPTION]) VALUES (2, 2, N'DETAIL2_M2')
INSERT [dbo].[DETAIL] ([ID], [MASTERID], [DESCRIPTION]) VALUES (3, 2, N'DETAIL3_M2')
SET IDENTITY_INSERT [dbo].[DETAIL] OFF
GO
SET IDENTITY_INSERT [dbo].[MASTER] ON 

INSERT [dbo].[MASTER] ([ID], [DESCRIPTION]) VALUES (1, N'MASTER1   ')
INSERT [dbo].[MASTER] ([ID], [DESCRIPTION]) VALUES (2, N'MASTER2   ')
SET IDENTITY_INSERT [dbo].[MASTER] OFF
GO
